*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
.mainbutton{
    margin-left: 100px; 
}

#wrapper{
    margin: 0px auto;
    width: 600px;
}

#maintable td{
    text-align: center;
    border: 1px solid lightgray;
}